// https://mui.com/material-ui/customization/default-theme/#explore
// Basic Color
$primaryColor: #1976d2;
$secondaryColor: #9c27b0;
$accentColor: #000; // 未設定
$warningColor: #ed6c02;
$successColor: #2e7d32;
$errorColor: #d32f2f;
$infoColor: #0288d1;
$disabledColor: #000; // 未設定
$brightColor: #fff;

// TextColor
$textLinkColor: #000; //未設定
$primaryTextColor: #000; //未設定
$secondaryTextColor: #000; //未設定
$disabledTextColor: #000; //未設定

// BorderColor
$borderColor: #000; // 未設定

// BackgroundColor

// フォントサイズ
$xxXLargeFontSize: 34 * 0.0625rem;
$xxLargeFontSize: 24 * 0.0625rem;
$xLargeFontSize: 20 * 0.0625rem;
$largeFontSize: 18 * 0.0625rem;
$baseFontSize: 16 * 0.0625rem;
$smallFontSize: 14 * 0.0625rem;
$xSmallFontSize: 12 * 0.0625rem;
$xXSmallFontSize: 10 * 0.0625rem;
